<section class="view back-to-nature">
    <div class="block banner">
        <video class="banner-background" loop muted autoplay>
            <source src="/assets/video/main.mp4" type="video/mp4">
        </video>

        <div class="banner-overlay"></div>

        <div class="container">
            <div class="banner-body">
                <h1 class="banner-body-title">
                    Back to nature
                </h1>

                <p class="banner-body-description">
                    Aenean nec lorem in porttitor donec laoreet nonummy augue.
                </p>
            </div>
        </div>
    </div>

    <div class="block article">
        <div class="article-head">
            <div class="container">
                <div class="article-head-column left col-md-4">
                    <p class="article-head-column-title">
                        Nr. 01
                    </p>
                </div>

                <div class="article-head-column center col-md-4">
                    <p class="article-head-column-title">
                        Nunc viverra imperdiet enim fusce est?
                    </p>
                </div>

                <div class="article-head-column right col-md-4">
                    <p class="article-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="container">
                <div class="article-body-row row">
                    <div class="article-body-column left col-md-7">
                        <h1 class="article-body-title">
                            This project is all about giving back to nature.
                            We managed to add different components together to make a good looking, compostable clothing.
                        </h1>

                        <div class="article-body-row">
                            <p class="article-body-description">
                                The fabrics used for the Back to Nature project are al made from natural fibers.
                                Due the fact we only used natural fibers the fabric is completely bio-degradable and compostable.
                                This means,  when anyone is done with their clothing it will completely decay again.
                                There is also the possibility to bury the clothing piece with the seeds you get by purchasing.
                                If you do this the product will decay and become nutrients for your new growing tree.
                            </p>
                        </div>

                        <div class="article-body-row">
                           <div class="article-body-quote">
                               <h4 class="article-body-quote-title">
                                   “Fashion can be a universal player in protecting the planet.”
                               </h4>

                               <h5 class="article-body-description article-body-quote-description">
                                   Pharrell Williams
                               </h5>
                           </div>
                        </div>
                    </div>


                    <div class="article-body-column right col-md-5" style="background:  url('/assets/image/2.png') center center no-repeat; background-size: cover;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <<div class="block parallax" style="background:  url('/assets/image/7.jpeg') center center no-repeat fixed; background-size: cover;">
        <div class="container">

        </div>
    </div>

    <div class="block article">
        <div class="article-head">
            <div class="container">
                <div class="article-head-column left col-md-4">
                    <p class="article-head-column-title">
                        Nr. 02
                    </p>
                </div>

                <div class="article-head-column center col-md-4">
                    <p class="article-head-column-title">
                        Nunc viverra imperdiet enim fusce est?
                    </p>
                </div>

                <div class="article-head-column right col-md-4">
                    <p class="article-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="container">
                <div class="article-body-row row" style="margin-bottom: 50px;">
                    <div class="article-body-column left col-md-6">
                        <h1 class="article-body-title">
                            Hemp
                        </h1>

                        <div class="article-body-row">
                            <p class="article-body-description">
                                The hemp we are using is cultivated in the mountains of Northern China.
                                This hemp is made into a very comfortable, breathable fabric.
                                It is a luxury textile that can we woven to be soft and fine or thick and durable.
                                It is one of the most sustainable fibers on the planet because a hemp plant only needs 21 liters of water to grow.
                                The growing process do not need any pesticides.
                                And last but not least a hemp plant returns 60% of the nutrients back to the soil if they are dried on the land.
                            </p>
                        </div>

                        <a href="/hemp">
                            <button>
                                Read more
                            </button>
                        </a>
                    </div>


                    <div class="article-body-column right col-md-6" style="background:  url('/assets/image/5.jpeg') center center no-repeat; background-size: cover;">

                    </div>
                </div>

                <div class="article-body-row row" style="margin-bottom: 50px;">
                    <div class="article-body-column left col-md-6" style="background:  url('/assets/image/6.jpeg') center center no-repeat; background-size: cover;">

                    </div>

                    <div class="article-body-column right col-md-6">
                        <h1 class="article-body-title">
                            Tencel
                        </h1>

                        <div class="article-body-row">
                            <p class="article-body-description">
                                Tencel is a fabric made from dissolved pulp of sustainable wood.
                                Tencel is also manufactured with the highest grade of sustainability.
                                The fabric is made in a closed loop production.
                                It is a high recourse efficiently process.
                                99% of the water used in this process will be reused in the process so no water will be lost.
                                Consumers will receive a long-lasting and opulent textile, but also a textile that does not have a negative impact on the environment.
                            </p>
                        </div>

                        <a href="/clean-the-world/hemp">
                            <button>
                                Read more
                            </button>
                        </a>
                    </div>
                </div>

                <div class="article-body-row row" style="margin-bottom: 50px;">
                    <div class="article-body-column left col-md-6">
                        <h1 class="article-body-title">
                            Organic cotton
                        </h1>

                        <div class="article-body-row">
                            <p class="article-body-description">
                                Organic cotton has many benefits, it is durable, comfortable and affordable.
                                Yet its environmental impact is great.
                                Conventional cotton growth releases more toxins into our air and oceans than any other crop.
                                This is the reason we choose to use organic cotton.
                                These cottons are grown without the use of harmful chemicals and piscicides.
                                This way the organic cotton we use keeps the oceans and air clean.
                            </p>
                        </div>

                        <a href="/clean-the-world/hemp">
                            <button>
                                Read more
                            </button>
                        </a>
                    </div>

                    <div class="article-body-column right col-md-6" style="background:  url('/assets/image/8.jpeg') center center no-repeat; background-size: cover;">

                    </div>
                </div>

                <div class="article-body-row row" style="margin-bottom: 50px;">
                    <div class="article-body-column left col-md-6" style="background:  url('/assets/image/9.jpeg') center center no-repeat; background-size: cover;">

                    </div>

                    <div class="article-body-column right col-md-6">
                        <h1 class="article-body-title">
                            Piñatex
                        </h1>

                        <div class="article-body-row">
                            <p class="article-body-description">
                                Piñatex by Ananas Anam is the companies patented name for pineapple leather.
                                It is a natural leather made from pineapple leaf fiber.
                                The leaves are the leftovers of the existing agriculture of the fruit industry, which are otherwise thrown away.
                                Piñatex is not compostable.
                                The company is working to achieve this in the future!
                            </p>
                        </div>

                        <a href="/clean-the-world/hemp">
                            <button>
                                Read more
                            </button>
                        </a>
                    </div>
                </div>

                <div class="article-body-row row">
                    <div class="article-body-column left col-md-6">
                        <h1 class="article-body-title">
                            Desserto
                        </h1>

                        <div class="article-body-row">
                            <p class="article-body-description">
                                The desserto leather that we use is made in mexico.
                                Here are the plantations where the leaves of the large cacti are cut.
                                The cactus is not damaged once a few leaves are cut.
                                These will naturally grow back.
                                The cacti live on the plantation of only rainwater and nutrients that are in the ground.
                                therefore no pesticides are used on the plantation.
                                After the leaves get harvested, they dry under the sun for 3 days until achieving the right humidity levels.
                                So, there is no oven or additional energy used in the drying process.
                                Then there is a patented formula used to make the cacti into vegan leather.
                            </p>
                        </div>

                        <a href="/clean-the-world/hemp">
                            <button>
                                Read more
                            </button>
                        </a>
                    </div>

                    <div class="article-body-column right col-md-6" style="background:  url('/assets/image/10.jpeg') center center no-repeat; background-size: cover;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block parallax" style="background:  url('/assets/image/7.jpeg') center center no-repeat fixed; background-size: cover;">
        <div class="container">

        </div>
    </div>

    <div class="block article">
        <div class="article-head">
            <div class="container">
                <div class="article-head-column left col-md-4">
                    <p class="article-head-column-title">
                        Nr. 03
                    </p>
                </div>

                <div class="article-head-column center col-md-4">
                    <p class="article-head-column-title">
                        Nunc viverra imperdiet enim fusce est?
                    </p>
                </div>

                <div class="article-head-column right col-md-4">
                    <p class="article-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="container">
                <div class="article-body-row row">
                    <h1 class="article-body-title">
                        Of course, does project “BACK TO NATURE" has the right certification to prove that the fabric we use is really what we tell you it is.
                        The fabrics used in project back to nature has the following certificates:
                    </h1>

                    <div class="article-body-certificates">
                        <img class="article-body-certificates-item" src="/assets/image/11.jpeg">
                        <img class="article-body-certificates-item" src="/assets/image/12.jpeg">
                        <img class="article-body-certificates-item" src="/assets/image/13.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>