<section class="view clean-the-world">
    <div class="block banner" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/image/5.jpeg') top center no-repeat; background-size: cover;">
        <div class="container">
            <div class="banner-body">
                <h1 class="banner-body-title">
                    Hemp
                </h1>

                <p class="banner-body-description">
                    Aenean nec lorem in porttitor donec laoreet nonummy augue.
                </p>
            </div>
        </div>
    </div>

    <div class="block article">
        <div class="article-head">
            <div class="container">
                <div class="article-head-column left col-md-4">
                    <p class="article-head-column-title">
                        Nr. 01
                    </p>
                </div>

                <div class="article-head-column center col-md-4">
                    <p class="article-head-column-title">
                        Nunc viverra imperdiet enim fusce est?
                    </p>
                </div>

                <div class="article-head-column right col-md-4">
                    <p class="article-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="container">
                <div class="article-body-row row">
                    <div class="article-body-column left col-md-7">
                        <h1 class="article-body-title">
                            Hemp is one the most sustainable fabrics, it requires no pesticides and needs little water to grow.
                            Yet it renews the soil with each time it is harvested.
                        </h1>

                        <div class="article-body-row">
                            <p class="article-body-description">
                                Its long roots prevent erosion and help retain topsoil.
                                Hemp also grows wherever you plant it, it grows readily in most temperate regions.
                                The production of hemp also does not have any waste.
                                Everything of a hemp plant can be used. Seeds are used to make oils and food supplements, while the stalks are used for fiber.
                                Hamp also produces more fiber per acre than trees and can be renewed three times a year.
                                Hemp has many more benefits.
                            </p>
                        </div>

                        <div class="article-body-row">
                            <p class="article-body-description">
                                The first plants ever used for spinning clothing where hemp plants.
                                They choose hemp because of its strength.
                                Clothing made out of hemp is lightweight, absorbent and has 3 times the tensile strength as cotton.
                                Another benefit of hemp is that is weather resistant.
                                It is UV and mold-resistant meaning that hemp is perfect for outdoor wear.
                                Hemp is usually blended with other fibers to make it more pleasant to wear.
                            </p>
                        </div>


                        <div class="article-body-row">
                            <h4 class="article-body-sub-title">
                                Let’s make something clear
                            </h4>

                            <p class="article-body-description">
                                Many people think that hemp is the same is marijuana this is not true.
                                Both hemp and marijuana are varieties of the cannabis sativa, but hemp contains les THC (the psychoactive substance in marijuana).
                                This makes hemp unusable as recreational product.
                            </p>
                        </div>

                        <div class="article-body-row">
                            <h4 class="article-body-sub-title">
                                The process of hemp
                            </h4>

                            <p class="article-body-description">
                                After the hemp is harvested the stems are getting soaked in water for about 10 days.
                                The next step is called breaking.
                                Breaking is a process where you latterly break the stems into long fibers.
                                This is done by machines nowadays.
                                These fibers are further processed into pulp and after that yarn.
                                The yarn is the base for the new fabric.
                            </p>
                        </div>
                    </div>


                    <div class="article-body-column right col-md-5" style="background:  url('/assets/image/14.jpeg') center center no-repeat; background-size: cover;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>