<section class="view index">
    <div class="block topper">
        <video class="topper-background" loop muted autoplay>
            <source src="/assets/video/main.mp4" type="video/mp4">
        </video>

        <div class="topper-overlay"></div>

        <div class="container">
            <div class="topper-body">
                <div class="topper-body-left col-md-6">
                    <h1 class="topper-body-left-title">
                        Wearing your own future.
                    </h1>
                </div>

                <div class="topper-body-right col-md-6">
                    <p class="topper-body-right-title">
                        The future is yours, just wear it
                    </p>
                </div>
            </div>

            <div class="topper-foot col-md-4 col-md-offset-8">
                <h4 class="topper-foot-title">
                    Discover how you can wear your future
                </h4>

                <p class="topper-foot-description">
                    <a href="/store">
                        Check our collection
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="block article">
        <div class="article-head">
            <div class="container">
                <div class="article-head-column left col-md-4">
                    <p class="article-head-column-title">
                        Nr. 01
                    </p>
                </div>

                <div class="article-head-column center col-md-4">
                    <p class="article-head-column-title">
                        How it came be?
                    </p>
                </div>

                <div class="article-head-column right col-md-4">
                    <p class="article-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="container">
                <div class="col-md-4">
                    <h1 class="article-body-title">
                        How it came be?
                    </h1>
                </div>

                <div class="col-md-8">
                    <h1 class="article-body-title">
                        We are a clothing label completely focussed on sustainability.
                        We are trying to chance the way the fashion industry is currently running.
                        That is why we have started 2 projects.
                    </h1>

                    <div class="article-body-row row">
                        <div class="article-body-column left col-md-6">
                            <p class="article-body-description">
                                Project Clean The World.
                                In this project we are creating products with recycled plastic bottles.
                                Every piece has a inside tag with the amount of bottles used to make the piece.
                            </p>
                        </div>

                        <div class="article-body-column right col-md-6">
                            <p class="article-body-description">
                                Project Back To Nature.
                                In this project we are creating closing the completely compostable.
                                This means that is the piece is buried with a seed, it will form nutrients for your new growing tree.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block parallax" style="background:  url('/assets/image/4.jpeg') center center no-repeat fixed; background-size: cover;">
        <div class="container">

        </div>
    </div>

    <div class="block article">
        <div class="article-head">
            <div class="container">
                <div class="article-head-column left col-md-4">
                    <p class="article-head-column-title">
                        Nr. 02
                    </p>
                </div>

                <div class="article-head-column center col-md-4">
                    <p class="article-head-column-title">
                        Nunc viverra imperdiet enim fusce est?
                    </p>
                </div>

                <div class="article-head-column right col-md-4">
                    <p class="article-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="container">
                <div class="article-body-row row">
                    <div class="article-body-column left col-md-7">
                        <h1 class="article-body-title">
                            Donec blandit feugiat ligula.
                            Donec hendrerit felis et imperdiet euismod purus ipsum pretium metus.
                            In lacinia nulla nisl eget sapien.
                            Donec ut est in lectus consequat consequat.
                        </h1>

                        <p class="article-body-description">
                            Fusce aliquet pede non pede. Suspendisse dapibus lorem pellentesque magna. Integer nulla.
                            Donec blandit feugiat ligula. Donec hendrerit, felis et imperdiet euismod, purus ipsum pretium metus, in lacinia nulla nisl eget sapien. Donec ut est in lectus consequat consequat.
                            Etiam eget dui. Aliquam erat volutpat. Sed at lorem in nunc porta tristique.
                            Proin nec augue. Quisque aliquam tempor magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Nunc ac magna. Maecenas odio dolor, vulputate vel, auctor ac, accumsan id, felis. Pellentesque cursus sagittis felis.
                        </p>
                    </div>

                    <div class="article-body-column right col-md-5" style="background:  url('/assets/image/2.png') center center no-repeat; background-size: cover;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block parallax" style="background:  url('/assets/image/3.jpeg') center center no-repeat fixed; background-size: cover;">
        <div class="container">

        </div>
    </div>

    <div class="block article">
        <div class="article-head">
            <div class="container">
                <div class="article-head-column left col-md-4">
                    <p class="article-head-column-title">
                        Nr. 02
                    </p>
                </div>

                <div class="article-head-column center col-md-4">
                    <p class="article-head-column-title">
                        Nunc viverra imperdiet enim fusce est?
                    </p>
                </div>

                <div class="article-head-column right col-md-4">
                    <p class="article-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="container">
                <div class="article-body-row row">
                    <div class="article-body-column left col-md-5" style="background:  url('/assets/image/2.png') center center no-repeat; background-size: cover;">

                    </div>

                    <div class="article-body-column right col-md-7">
                        <h1 class="article-body-title">
                            Donec blandit feugiat ligula.
                            Donec hendrerit felis et imperdiet euismod purus ipsum pretium metus.
                            In lacinia nulla nisl eget sapien.
                            Donec ut est in lectus consequat consequat.
                        </h1>

                        <p class="article-body-description">
                            Fusce aliquet pede non pede. Suspendisse dapibus lorem pellentesque magna. Integer nulla.
                            Donec blandit feugiat ligula. Donec hendrerit, felis et imperdiet euismod, purus ipsum pretium metus, in lacinia nulla nisl eget sapien. Donec ut est in lectus consequat consequat.
                            Etiam eget dui. Aliquam erat volutpat. Sed at lorem in nunc porta tristique.
                            Proin nec augue. Quisque aliquam tempor magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Nunc ac magna. Maecenas odio dolor, vulputate vel, auctor ac, accumsan id, felis. Pellentesque cursus sagittis felis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>