<section class="view user lost-password">
    <div class="block banner">
        <video class="banner-background" loop muted autoplay>
            <source src="/assets/video/main.mp4" type="video/mp4">
        </video>

        <div class="banner-overlay"></div>

        <div class="container">
            <div class="banner-body">
                <h1 class="banner-body-title">
                    lost password
                </h1>

                <p class="banner-body-description">
                    Aenean nec lorem in porttitor donec laoreet nonummy augue.
                </p>
            </div>
        </div>
    </div>

    <div class="block form">
        <div class="form-head">
            <div class="container">
                <div class="form-head-column left col-md-4">
                    <p class="form-head-column-title">
                        Nr. 01
                    </p>
                </div>

                <div class="form-head-column center col-md-4">
                    <p class="form-head-column-title">
                        Do you lost your password?
                    </p>
                </div>

                <div class="form-head-column right col-md-4">
                    <p class="form-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="form-body">
            <div class="container">
                <div class="form-body-column left col-md-4">
                    <h1 class="form-body-title">
                        Do you lost your password?
                    </h1>
                </div>

                <div class="form-body-column col-md-8">
                    <form action="/" method="post">
                        <div class="form-body-row row">
                            <input class="form-body-input" type="text" name="email" placeholder="Email" autocomplete="off">
                        </div>

                        <button class="form-body-button">
                            Send
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>