<section class="view policy disclaimer">
    <div class="block banner">
        <video class="banner-background" loop muted autoplay>
            <source src="/assets/video/main.mp4" type="video/mp4">
        </video>

        <div class="banner-overlay"></div>

        <div class="container">
            <div class="banner-body">
                <h1 class="banner-body-title">
                    Disclaimer
                </h1>

                <p class="banner-body-description">
                    Aenean nec lorem in porttitor donec laoreet nonummy augue.
                </p>
            </div>
        </div>
    </div>

    <div class="block article">
        <div class="article-head">
            <div class="container">
                <div class="article-head-column left col-md-4">
                    <p class="article-head-column-title">
                        Nr. 01
                    </p>
                </div>

                <div class="article-head-column center col-md-4">
                    <p class="article-head-column-title">
                        Disclaimer
                    </p>
                </div>

                <div class="article-head-column right col-md-4">
                    <p class="article-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="container">
                <div class="col-md-4">
                    <h1 class="article-body-title">
                        Disclaimer
                    </h1>
                </div>

                <div class="col-md-8">
                    <h1 class="article-body-title">
                        The following conditions of use apply to the use of this website (www.environ-design.com).
                        By using this website, you are deemed to have read and accepted the terms of use.
                    </h1>

                    <div class="article-body-row row">
                        <p class="article-body-description">
                            Use of information strives to always offer correct and current information on this website.
                            Although this information has been compiled with the greatest possible care, does not guarantee the completeness, accuracy or topicality of the information.
                            The legal information on the website is of a general nature and cannot be considered as a substitute for legal advice.
                        </p>
                    </div>

                    <div class="article-body-row row">
                        <p class="article-body-description">
                            No rights can be derived from the information.
                            does not accept any liability for damage resulting from the use of the information or the website, nor for the malfunctioning of the website.
                            Based on the sending and receiving of information via the website or via e-mail, a relationship between  and the user of the website cannot automatically arise.
                        </p>
                    </div>

                    <div class="article-body-row row">
                        <p class="article-body-description">
                            E-mail does not guarantee that e-mails sent to it will be received or processed (on time) because timely receipt of e-mails cannot be guaranteed.
                            The security of e-mail traffic can also not be fully guaranteed due to the associated security risks.
                            By correspondence with  by e-mail without encryption or password protection, you accept this risk.
                        </p>
                    </div>

                    <div class="article-body-row row">
                        <p class="article-body-description">
                            This website may contain hyperlinks to third-party websites.
                            Environ-Design has no influence on third party websites and is not responsible for the availability or content thereof.
                            therefore accepts no liability for damage resulting from the use of third-party websites.
                        </p>
                    </div>

                    <p class="article-body-description">
                        All publications and expressions of are protected by copyright and other intellectual property rights.
                        Except for personal and non-commercial use, nothing from these publications and statements may be reproduced, copied or otherwise made public in any way without prior written permission from www.environ-design.com.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>