<section class="view policy privacy">
    <div class="block banner">
        <video class="banner-background" loop muted autoplay>
            <source src="/assets/video/main.mp4" type="video/mp4">
        </video>

        <div class="banner-overlay"></div>

        <div class="container">
            <div class="banner-body">
                <h1 class="banner-body-title">
                    Privacy
                </h1>

                <p class="banner-body-description">
                    Aenean nec lorem in porttitor donec laoreet nonummy augue.
                </p>
            </div>
        </div>
    </div>

    <div class="block article">
        <div class="article-head">
            <div class="container">
                <div class="article-head-column left col-md-4">
                    <p class="article-head-column-title">
                        Nr. 01
                    </p>
                </div>

                <div class="article-head-column center col-md-4">
                    <p class="article-head-column-title">
                        Privacy
                    </p>
                </div>

                <div class="article-head-column right col-md-4">
                    <p class="article-head-column-title">
                        "The future is yours"
                    </p>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="container">
                <div class="col-md-4">
                    <h1 class="article-body-title">
                        Privacy
                    </h1>
                </div>

                <div class="col-md-8">
                    <h1 class="article-body-title">
                        Environ-Design  respects the privacy of its website visitors, in particular their rights regarding the automatic processing of personal data.
                        We have therefore formulated and implemented a policy on complete transparency with our customers regarding the processing of personal data, its purpose(s) and the possibilities to exercise your legal rights in the best possible way.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>